@use "../globals/variables" as v;
@use "../globals/mixins" as m;

.blog-section{
    @include m.common;
    h2{
        font-size: 16px;
        color: #e0e0e0;
        font-weight: 500;
    }
    .title-img{
        display: flex;
        position: relative;

        h1{
            font-size: 24px;
            color: v.$grey-5;
            font-weight: 500;
            margin-top: 2rem;
        }
        img{
          left: 1.45rem;
          border-radius: 12px 0 0 12px;
          overflow-x: hidden;
        }
    }
    article{
        margin: 3rem 0 2rem 0;
        color: v.$grey-3;
        max-width: 490px;
    }
    a{
        text-decoration: none;
        color: v.$blue;
    }

}