@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*----------fonts-----------*/

$montserrat: 'Montserrat', sans-serif;

/*----------font-sizes-----------*/



/*----------colors-----------*/

$white: #ffffff;
$grey-1: #f2f2f2;
$grey-2: #c4c4c4;
$grey-3: #828282;
$grey-4: #4f4f4f;
$grey-5: #333333;
$blue: #2f80ed;


/*----Responsive-width------*/

$tablet: 768px;